:root {
	--very-dark-magenta: hsl(300, 43%, 22%);
	--soft-pink: hsl(333, 80%, 67%);
	--dark-grayish-magenta: hsl(303, 10%, 53%);
	--light-grayish-magenta: hsl(300, 24%, 96%);
	--white: hsl(0, 0%, 100%);
}

body {
	font-family: 'Spartan', sans-serif;
	font-size: 15px;
	color: var(--dark-grayish-magenta);
	text-align: center;
	background: url("../images/bg-pattern-top-mobile.svg") top left no-repeat, url("../images/bg-pattern-bottom-mobile.svg") right bottom no-repeat;
}

#component {
	margin: 2em 0;
	padding: 0 1em;
}

h1 {
	color: var(--very-dark-magenta);
}

h2 {
	font-size: 1em;
	margin-bottom: 0;
}

.rate-card {
	background-color: var(--light-grayish-magenta);
	margin: 1.5em 0;
	padding: 1em 0;
	border-radius: 15px;
}

.rate-card p {
	margin-bottom: 0;
	font-weight: 700;
	color: var(--very-dark-magenta);
}

.profile-picture {
	float: left;
	border-radius: 50%;
	max-width: 3em;
	width: auto;
	height: auto;
	margin-right: 2em;
}

.opinion-card {
	font-size: 0.9em;
	line-height: 1.5em;
	text-align: left;
	color: var(--white);
	padding: 1.5em 2.5em;
	margin: 1.5em 0;
	background-color: var(--very-dark-magenta);
	border-radius: 15px;
}

.opinion-card header {
	margin-bottom: 2em;
}

.opinion-card header p {
	color: var(--soft-pink);
	margin: 0;
}

#attribution {
	font-weight: 500;
	font-size: 1em;
	color: var(--very-dark-magenta);
}

/* media queries */
@media (min-width: 671px) {
	#component {
		margin: 2.5em auto;
		width: 70%;
	}
}


@media (min-width: 800px) {
	body {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: url("../images/bg-pattern-top-desktop.svg") left top no-repeat, url("../images/bg-pattern-bottom-desktop.svg") right bottom no-repeat;
	}

	#component {
		padding: 0;
		width: 80%;
		height: 80%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	#product-description {
		width: 40%;
		text-align: left;
	}

	h1 {
		font-size: 2.5em;
	}

	#product-rates {
		flex-grow: 0.5;
		margin-right: 1.5em;
	}

	#product-rates article:first-child {
		transform: translateX(-1.5em);
	}

	#product-rates article:last-child {
		transform: translateX(1.5em);
	}

	.rate-card {
		display: flex;
		align-items: baseline;
		justify-content: flex-start;
	}

	.rate-card header, .rate-card p {
		display: inline;
		margin: 0 1.25em;
	}

	#user-opinions {
		margin: 0;
		display: flex;
		justify-content: space-between;
	}

	#user-opinions article:first-child {
		transform: translateY(-1em);
	}

	#user-opinions article:last-child {
		transform: translateY(1em);
	}

	.opinion-card {
		margin: 0;
		font-size: 12px;
		width: 25%;
	}

	#attribution {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

@media (min-width: 1168px) {
	#component {
		width: 75%;
		height: 65%;
	}

	#product-description {
		width: 50%;
	}

	h1 {
		font-size: 3em;
	}

	#product-rates {
		margin-right: 2.5em;
	}

	#product-rates article:first-child {
		transform: translateX(-2.5em);
	}

	#product-rates article:last-child {
		transform: translateX(2.5em);
	}


	#user-opinions article:first-child {
		transform: translateY(-1.25em);
	}

	#user-opinions article:last-child {
		transform: translateY(1.25em);
	}
}